:root {
    --c1: rgba(19, 19, 26);
    --c2: rgba(19, 19, 26);
    --body-before-opacity: 0;
}

html {
    height: 100%;
    box-sizing: border-box;
}

body {
    position: relative;
    width: 100% !important;
    height: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
    overflow: hidden;
    padding: 0;
    margin: 0;
    color: #ffffff;
    background: rgb(19, 19, 26);

    &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, var(--c1), var(--c2));
        opacity: var(--body-before-opacity);
        transition: opacity 0.3s;
        z-index: -1
    }
}

#app {
    height: 100%;
}

.layout-content {
    margin: auto;
    width: 1200px;
    height: 100%;
    padding: 0 30px 10px 30px;
}